/* Reset убирает стили ссылок, кнопок и списков: */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}
/*  */
body {
  background-color: #fedb25;
  color: #101214;
}

.container {
  background-color: #e5e5e5;
  width: 595px;
  height: 842px;
  margin: 0 auto;
}
.blackLine {
  height: 4px;
  background-color: #101214;
}
